.circle{
    height: 500px;
    width: 500px;
    background-color: brown;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ccircle{
    height: 400px;
    width: 400px;
    background-color: rgb(192, 13, 189);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cccircle{
    height: 300px;
    width: 300px;
    background-color: rgb(96, 227, 8);
    border-radius: 50%;
}
